/* Algemene reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ebe5dc; /* Lichte kerstkleur */
  color: #4d4d4d;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}

/* Header */
header {
  background-color: rgba(230, 222, 208, 0.9);
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #9c1925;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
}

h1 {
  font-size: 2.8em;
  color: #9c1925;
  text-shadow: 2px 2px #e6ded0;
}

/* Progressiebalk */
.progress-container {
  width: 80%;
  background-color: #e6ded0;
  border-radius: 20px;
  height: 20px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #9c1925, #e6ded0);
  transition: width 0.5s ease, background-color 0.5s ease;
}

.progress-text {
  margin-top: 10px;
  font-size: 1.2em;
  color: #9c1925;
  text-align: center;
}

/* Feedback sectie */
#feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9c1925;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  animation: fadeOut 2s forwards;
}

#feedback-text {
  font-size: 1.2em;
}

/* Reflectie */
#reflection {
  animation: fadeIn 1s ease-in-out;
}

.hidden {
  display: none;
}

.difficulty-select {
  margin: 20px;
}

.difficulty {
  background-color: #9c1925;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.difficulty:hover {
  background-color: #b71c2e;
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
